.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.pageButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border-radius: 8px;
  border: 1px solid var(--hover-bg);
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.pageButton:hover:not(:disabled) {
  background-color: var(--hover-bg);
  border-color: var(--hover-bg);
}

.pageButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pageButton.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-color: var(--primary-color);
}
